@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold/gilroyextrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroyextrabold/gilroyextrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroyextrabold/gilroylight-webfont.woff2') format('woff2'),
  url('../fonts/gilroyextrabold/gilroylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #000;
  background: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  /*padding: 0;*/
}
/*=====================временно для подсветки===================*/
.temp::before {
  content: attr(class);
  position: absolute;
  bottom: -11px;
  left: -50px;
  font:normal normal 12px/12px monospace;
  text-transform: lowercase;
  letter-spacing: normal;
  color: black;
  background-color: rgba(122, 122, 122, 0.3);
}

.temp *::before {
  content: attr(class);
  position: absolute;
  /*margin-top: -11px;*/
  font:normal normal 12px/12px monospace;
  text-transform: lowercase;
  letter-spacing: normal;
  color: black;
}

.temp >*::before {
  right: 0;
  background-color: rgba(255, 0, 0, 0.3);
}

.temp > * > *::before {
  left: 0;
  top:-12px;
  background-color: rgba( 0, 0, 255, 0.3);
}

.temp > * > * >*::before {
  left: 0;
  bottom: 0;
  background-color: rgba( 0, 255, 0,  0.3);
}

.temp  {
  position: relative;
  outline: 1px dashed #000;
  outline-offset:2px;
}

.temp > * {
  position: relative;
  outline: 1px dashed rgba(255, 0, 0, 0.3);
}
.temp > * > * {
  position: relative;
  outline: 1px dashed rgba(0, 0, 255, 0.3);
  outline-offset:-2px;
}
.temp > * > * > * {
  position: relative;
  outline: 1px dashed rgba(0, 255, 0, 0.3);
  outline-offset:-4px;
}
/*============================================================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.shadow {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container {
 margin: 0;
 padding: 0 20px;
}

.content {
  position: relative;
  width: 100%;
  max-width:1160px;
  margin: auto;
}
/*===================стилизация header==========================*/
header .content {
  height: 300px;
  margin-top: 40px;
  background-color: #f7e296;
  padding: 0 60px 0;
  /*padding-top: 50px;*/
  /*border: 1px solid transparent;*/

}

header .logo {
  position: absolute;
  left: 60px;
  top: -17px;
}

.flex-container {
  display: flex;
  padding-top: 45px;
  /*outline: 1px dashed red;*/
  flex-direction: column;
}

.flex-container > ul:first-child {
  display: flex;
  padding: 0 0 23px 0;
  margin: 0;
}

.flex-container > ul:nth-child(2) {
  display: flex;
  padding: 0;
}

.flex-container .icon input {
  padding: 0;
}

.flex-container .icon li {
  padding-left: 37px;
  font-size: 15px;
  line-height: 30px;
}

.flex-container .icon .col1 {
  width: 620px;
  font-size: 15px;
  line-height: 30px;
}
.flex-container .icon .col2 {
  width: 330px;
}
.flex-container .icon .col3 {
  width: 135px;
}
.flex-container .icon .col4 {
  width: 120px;
  text-align: right;
}

.flex-container .navigation li {
  padding: 0;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.26em;
  font-weight: bold;
}

.flex-container .icon .col5{
  text-align: left;
  width: 540px;
}

.flex-container .icon .col6 {
  width: 160px;
}

.flex-container .icon .col7 {
  width: 145px;
}

.flex-container .icon .col8{
  width: 210px;
  text-align: right;
  margin-right: -5px;
}

.icon,
.icon-footer,
.slider1
{
  list-style: none;
}

.icon a {
  text-decoration: none;
  color: black;
}

.icon li:hover:not(.col5),
.icon li:focus:not(.col5),
.focus:hover,
.focus:focus
{
  opacity: 0.6;
}

.icon li:active:not(.col5):not(.col1),
.focus:active,
.col5 button
{
  opacity: 0.3;
}

.focus2,
.icon.navigation .col5 .link-catalog:hover,
.icon.navigation .col5 .link-catalog:focus
{
  opacity: 0.6;
}

.focus2:hover,
.focus2:focus {
  opacity: 1;
}

.focus2:active {
  opacity: 0.2;
}

.focus3,
.icon.navigation .col5 .link-catalog:active
{
  opacity: 0.3;
}

.focus3:hover,
.focus3:focus
{
  opacity: 0.6;
}

.focus3:active {
  opacity: 1;
}

.icon .col1 .searcher {
  width: 320px;
  padding: 6px 3px ;
  border: none;
  outline: 0;
  background-color: transparent;
  opacity: 0.3;
}

.icon .col1 .searcher:focus
{
border-bottom: 2px solid black;
  opacity: 1;
}

.icon .col1 .searcher:focus + button {
  visibility: visible;
}

.col1 .btn-search {
  visibility: hidden;
  padding: 6px 16px;
  margin-left: -4px;
  border: 2px solid black;
  background-color: #f7e296;
}

.col1 .btn-search:hover {
  color: #fff;
  background-color: #000 ;
}

.col1 .btn-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.icon .searcher:hover {
  opacity: 0.6;
}

.icon .search:hover,
.icon .enter:hover,
.icon-footer .enter:hover
{
  cursor: pointer;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-header {
  display:flex;
  position: relative;
  z-index: 100;
  visibility: visible;
  width: 1080px;
  height: 161px;
  padding: 0;
  list-style: none;
  background-color: #f7e296 ;
}
.modal-header li {
  padding: 0;
}

.modal-header .drop-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  list-style: none;
}

.modal-header > li:not(:first-child)  {
  margin-left: 70px;
}

.drop-menu li a {
  font: 300 15px/36px 'Open Sans', sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

.navigation .plus {
  opacity: 0.3;
  margin-left: 4px;
  margin-top: 2px;
  vertical-align: top;
}

.navigation .col5:hover .modal-header {
  visibility: visible;
  position: relative;
  z-index: 5;
}

/*=============== стилизация кнопок слайдера (радиобаттона)===============*/
.radio input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.radio .radio-catalog {
  padding-left: 65px;
  margin-right: -20px
}

.radio label::before {
  content: url("../img/svg-device/slider-button-empty.svg");
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 50px;
  margin-left: 35px;
}

.radio .radio-catalog::before {
  content: url("../img/svg-device/radio-off.svg");
}

.radio .check::before {
  content: url("../img/svg-device/checkbox-off.svg");
  margin-left: -5px;
}

input[type="radio"]:checked + label::before {
  content: url("../img/svg-device/slider-button.svg");
}

input[type="radio"]:checked + .radio-catalog::before {
  content: url("../img/svg-device/radio-on.svg");
}

input[type="checkbox"]:checked + .check::before {
  content: url("../img/svg-device/checkbox-on.svg");
}

input:disabled  + label{
  opacity: 0.3;
}
/*============== иконки для кнопок============================================*/
.yellow-button {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: 'gilroyextrabold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}

.yellow-button::before {
  content: "";
  position: absolute;
  left: calc(50% - 110px);
  top: calc(50% - 20px);
  height: 40px;
  width: 220px;
  background-color: #f0c52e;
  transform: scaleY(0.20);
  z-index: -1;
  transition: .5s
}

.yellow-button:hover::before,
.yellow-button:focus::before
{
  transform: scaleY(1);
}

.yellow-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.arrow li a {
  position: relative;
}

.icon li > a,
.icon li label
{
  position: relative;
  /*margin-left: 15px;*/
}

.arrow li:first-child a::after,
.arrow li:first-child + li a::after
{
  content: url("../img/svg-device/nav-arrow.svg");
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
}

.icon .search::before {
  content: url("../img/svg-device/search.svg");
  position: absolute;
  left: -33px;
  top: -1px;
}

.icon .enter::before {
  content: url("../img/svg-device/user.svg");
  position: absolute;
  left: -25px;
}

.icon .compare::before {
  content: url("../img/svg-device/compare.svg");
  position: absolute;
  left: -25px;
 }

.icon .cart::before {
  content: url("../img/svg-device/cart.svg");
  position: absolute;
  left: -25px;
}

/*==========================main style=====================================*/
.slider1 ul,
.slider-2 ul {
  list-style: none;
}

.slider-2 .yellow-button:active {
  color: #f7e184;
}
.slider-2 .yellow-button:active::before {
  background-color: #000;
  width: 278px;
}

/*==========================================================*/
.product-icons ul {
  list-style: none;
  display: flex;
}

.fill-box {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.fill-box img {
  margin: auto;
}

.fill-box:hover,
.fill-box:focus
{
  background-color: #f0c52e;
}

.fill-box:active > img,
.fill-box:active + figcaption
{
  opacity: 0.3;
}

.slider-2 {
  background-color: #e5e5e5;
}

/*============================ img partner style===========================================*/
.filter {
  list-style: none;
}

.filter li img {
filter: grayscale(100%);
  opacity: 0.3;
  transition: 0.2s;
}

.filter li img:hover {
  filter: grayscale(0);
  opacity: 1;
}

/*======================footer style=====================*/

footer {
    background-color: #464646;
    color: #ffffff;
}

.orange-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-info {
  list-style: none;
}

.footer-info a {
  text-decoration: none;
  color: #fff;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
}

.social-icon {
  list-style: none;
}

.icon-footer li a,
.icon-footer li input
{
  text-decoration: none;
  color: #fff;
}

.icon-footer .enter,
.icon-footer .compare,
.icon-footer .cart
{
  position: relative;
}

.icon-footer .enter::before {
  content: url("../img/svg-device/user-yellow.svg");
  position: absolute;
  right: 63px;
}

.icon-footer .compare::before {
  content: url("../img/svg-device/compare-yellow.svg");
  position: absolute;
  left: -24px;
}

.icon-footer .cart::before {
  content: url("../img/svg-device/cart-yellow.svg");
  position: absolute;
  left: -25px;
}

.icon-footer .button:hover + .enter {
  opacity: 1;
}

.icon-footer .button:active + .enter {
  opacity: 0.2;
}
/*===================================================================================================*/
/*========================== страница каталог========================================================*/
.arrow {
  list-style: none;
}

.arrow a {
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}

.arrow a:hover,
.arrow a:focus {
  opacity: 0.6;
}

.arrow a:active {
  opacity: 0.1;
}

.filter input[type="range"] {
  display: block;
  height: 5px;

}
.filter input[type="range"] + input {
  margin-top: -5px;
}

/*  секция сортировка*/
.goods ul {
  list-style: none;
}

.sort::before {
  content: "";
  display: inline-block;
  border: 10px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

}

.sort-up::before {
  border-top-width: 0;
}

.sort-down::before {
  border-bottom-width: 0;
}

.sort-list .button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.nav-page > button:nth-of-type(1):hover,
.nav-page > button:nth-of-type(1):focus,
.nav-page > button:nth-last-of-type(1):hover,
.nav-page > button:nth-last-of-type(1):focus
{
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}


/*=====================modal===================================*/
.modal {
  position: relative;
  padding: 0;
  width: 960px;
  height: 587px;
  background-color: #fff;
}
.modal .inputs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  /*padding: 0;*/
  justify-content: space-between;
}

.modal input {
  width: 100%;
  height: 50px;
}

.inputs li:first-child,
.inputs li:nth-child(2) {
  width: 360px;
}

.inputs li:nth-child(3) {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.inputs li:last-child {
  margin-left: 45px;
}

.inputs li label {
  font: bold 20px/40px 'gilroyextrabold', sans-serif;
}

.modal textarea {
  width: 100%;
  height: 156px;
  overflow: auto;
  font-weight: 400;
  background-color: #f2f2f2;
  padding: 15px;
}

.modal input:not(.yellow-button) {
  background-color: #f2f2f2;
  padding: 15px;
}

.modal input::placeholder,
.modal textarea::placeholder{
  color: rgba(70, 70, 70, 0.4);
  /*padding: 15px;*/
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.6;
}

.modal .close:hover,
.modal .close:focus {
  opacity: 1;
}

.modal .close:active {
  opacity: 0.3;
}

.modal.full-size {
  background: url('../img/map.jpg.png') 50%/cover no-repeat;

}

/*.modal .button {*/
/*  padding-left: 100px;*/
/*}*/
/*к сравнению: opacity 0.5/1/0.2*/





